h1 {
  font-weight: bold;
  font-size: 2rem; /* Judul utama */
  color: var(--foreground);
}

h2 {
  font-weight: bold;
  font-size: 1.75rem; /* Subjudul besar */
  color: var(--foreground);
}

h3 {
  font-weight: 500;
  font-size: 1.5rem; /* Subjudul sedang */
  color: var(--foreground);
}

h4 {
  font-size: 1.1rem; /* Subjudul kecil */
  color: var(--foreground);
}

/* Paragraf */
p {
  font-weight: semi-bold;
  line-height: 1.7;
  font-size: 1rem;
  color: var(--text-muted);
}

a {
  font-weight: bold;
}
